@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
p
  .first
    text-indent 5em
*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff

.nav
  background white
  text-align center
  margin 

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color black
    text-decoration none

    &:hover
      text-decoration underline

.main-content
  max-width 750px
  margin 50px auto

.footer
  max-width 750px
  margin 50px auto
  text-align center
  img
    max-width 25px
    height auto
.icon
  padding 0px
  margin-right 10px


.type-wrap
  margin 5% auto
  padding 20px
  background black
  border-radius 5px
  text-align left

.terminal
  color white

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


