@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
p .first {
  text-indent: 5em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
body .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.nav {
  background: #fff;
  text-align: center;
margin
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #000;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.main-content {
  max-width: 750px;
  margin: 50px auto;
}
.footer {
  max-width: 750px;
  margin: 50px auto;
  text-align: center;
}
.footer img {
  max-width: 25px;
  height: auto;
}
.icon {
  padding: 0px;
  margin-right: 10px;
}
#command {
  font-size: 17px;
}
.type-wrap {
  margin: 5% auto;
  padding: 20px;
  background: #000;
  border-radius: 5px;
  text-align: left;
}
.terminal {
  color: #fff;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
