doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title #{title}
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='/project') Projects
    
    .main-content
      block content

    .footer
      block footer 

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src = "/source/js/typed.js")
  script(type = "text/JavaScript").
      $(document).ready(function () {
          // terminal animation at the top
          $(function(){
            $("#command").typed({
              strings: ["man daniel koo <br> ^800 <br>Hello. My name is Daniel Koo.^500 Junior at UCSD majoring in Math-Computer. ^500I will be working for GE as a software developer inten summer of 2017! ^500Go Tritons! <br>Links down below."],
              typeSpeed: 15,
              startDelay: 1000
            });
          });
      });