doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title #{title}
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='/project') Experience
    
    .main-content
      block content

    .footer
      block footer 