extend default

block content
  p.
    Welcome to my website. My name is Daniel Koo. Junior at UCSD majoring in Math-Computer Science.
    I will be interning at GE Digital during the summer of 2017.

block footer
    ul.nav
        li: a(href="https://www.facebook.com/blxdaniel" style="padding: 0px; margin-right: 10px")
                img(src="/source/img/facebook-icon.png")
        li: a(href="https://www.github.com/blxdaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/GitHub-Mark-64px.png")
        li: a(href="https://www.linkedin.com/in/koodaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/In-Black-115px-R.png")

block terminal
    span.command span
    span.typed-cursor| span 
    p
        br
    p
        Hello World