extend default

block content
  p.
    Welcome to my website. My name is Daniel Koo. Junior at UCSD majoring in Math-Computer Science.
    I will be interning at GE Digital during the summer of 2017. For an inqueries, please feel free
    to contact me.

  p.
    Epicurei constituam sed at, id placerat similique tincidunt eam. Te quas inermis nominavi
    vel, in sea erant debitis reformidans, an cum eripuit democritum. Usu modus primis et, his
    errem scripserit cu. Mea cu aperiri repudiandae, id sit offendit noluisse torquatos. Sit
    te suas fastidii, cum nonumy iriure maluisset at, vix te graeco moderatius argumentum.

block footer
    ul.nav
        li: a(href="https://www.facebook.com/blxdaniel" style="padding: 0px; margin-right: 10px")
                img(src="/source/img/facebook-icon.png")
        li: a(href="https://www.github.com/blxdaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/GitHub-Mark-64px.png")
        li: a(href="https://www.linkedin.com/in/koodaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/In-Black-115px-R.png")
