extend default

block content
    .terminal.type-wrap
        div#command-string
            p.
                man danielk^800
        span#command

        p.
            <br>
            Name: Daniel Koo<br>Major: Math-Computer Science
            <br>School: University of California, San Diego
            <br>
            <br>Description:
            <br>
            <br> Hi! I was born and raised in
            the Bay Area and atttened Berkeley High School.
            I attended Diablo Valley College for 3 years
            before transfering to UCSD. I have a passion of computer science.
            I'm am currently learning everything that I can about the field
            and enjoying every moment of it so far!
            I will be interning for GE in the summer of 2017. I love
            to rock climb and recently have gotten into surfing. If you
            have any questions, feel free to message me on Linkedin.
        p(style = "text-align: center").
            <br>
            Happy Holidays!


block footer
    ul.nav
        li: a(href="https://www.facebook.com/blxdaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/facebook-icon.png")
        li: a(href="https://www.github.com/blxdaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/GitHub-Mark-64px.png")
        li: a(href="https://www.linkedin.com/in/koodaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/In-Black-115px-R.png")
            
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src = "/source/js/typed.js")
    script(type = "text/JavaScript").
        $(document).ready(function () {
            // terminal animation at the top
            $(function(){
                $("#command").typed({
                    stringsElement: $('#command-string'),
                    typeSpeed: 15,
                    startDelay: 1000
                });
            });
        });