extend project

block content
    p(style= "text-align: center")
        p
            More to come...

block footer
    ul.nav
        li: a(href="https://www.facebook.com/blxdaniel" style="padding: 0px; margin-right: 10px")
                img(src="/source/img/facebook-icon.png")
        li: a(href="https://www.github.com/blxdaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/GitHub-Mark-64px.png")
        li: a(href="https://www.linkedin.com/in/koodaniel" style="padding: 0px; margin-right: 10px")
            img(src="/source/img/In-Black-115px-R.png")
